
/*-----
       font-link---
----- */

@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@500;700&display=swap');





*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
   
    
}


/* -----
        header-section
------- */



header{
    
    background-color: #2D25A0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 1164px;
    height: 44px;
    align-items: center;
     
    
}
.nav{
   margin-left: 125px;
   margin-top: 42px;
   
   
    
}
.nav a{
    padding-left: 36px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.login{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 42px;
    
}


/*--------------
                 home-section
--------------- */



.home{
    padding: 38px;
    background-color: #2D25A0;
    height: 100vh;
    
}

.bg{
    display: flex;
    align-items: center;
    justify-content: center;


}
.home-text{
    width: 485px;
    height: 230px;
    text-align: left;
}
.home-text h1{
    
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 27px;

}
.btn{
    margin-top: 10px;
    padding: 10px;
    background: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none; 
    border-radius: 50px;
    transition: .35s;
  }
  .btn:hover{
      padding: 20px;
  }
  
  
.home-img{
    margin-top: 36px;
    padding-left: 64px;
    transform: transform 1.5s;
}
.home-img img{
    width: 556.01px;
    height: 438px;
    
}
.home-img:hover{
    transform: translateX(-25px);
}



 /* -------
            players-details
 -------*/




.players-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    
}

.player-details{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player-details:hover{
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.15);
}

.player-img img{
    width: 300px;
    height: 256px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}
.player-info{
    position: static;
    width: 300px;
    height: 154px; 
    margin: 10px;
}
.player-info h3{
    font-size: 28px;
   
}
.player-info p{
    font-size: 16px;
    color: #6C6C6C;        

}


/*---------
           Highlight-section
--------- */


.highlight{
    margin-top: 80px;
}
.highlight-bg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlight-text{
    width: 469px;
    height: 309px;
}
.highlight-text h1{
    font-size: 48px;
    margin-bottom: 5px;
}
.highlight-text p{
    width: 404px;
    height: 113px;
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 20px;
}
.highlight-img {
    
    padding-left: 66px;

   
}


/*--------
          footer-section
--------- */


.footer{
    margin-top: 158px;
    margin-bottom: 63px;
}
.footer-details{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.logo img{
    width: 483.87px;
    height: 110px;
    

}
.social{
   
    margin: 20px 0px;
}
.social i{
    padding-left: 14px;
    font-size: 28px;
}

.fa-facebook-f{
    color: #4267B2;
}
.fa-youtube{
    color: #FF0000;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-instagram{
    color: #DD2A7B ;
}
.copyright{
    font-size: 18px;
}


 /* ----------
         Media queries mobile devies
 ----- */

@media only screen and (max-width:688px) {

    /* home-section */

    header{
        display: none;
    }
    .home{
        width: 100%;
    
    }
    .bg{
        display:inline-block;
  
    }
    .home-text{
        width: 278px;
        height: 138px;
        
    }
    .home-text h1{
    
        font-size: 36px;
        color: #FFFFFF;
        
    
    }
    
    .home-img{
        margin-top: 150px;
    }
    .home-img img{
        width: 329px;
        height: 259.17px;
        
    }


    /* player Details  */


    .players{
        
        grid-template-columns: repeat(1, 1fr);
        
        
    }


    /* highlight Section  */
    .highlight{
        align-items: center;

    }
    .highlight-bg{
        display: inline;
        padding-left: 15px;
    }
    .highlight-text{
        width: 329px;
        height: 299px;
        margin-bottom: 29px;
        padding-left: 15px;
        
    }
    .highlight-text h1{
        font-size: 30px;
        
    }
    .highlight-text p{
        width: 329px;
        height: 143px;
        font-size: 16px;
        
    }
    .highlight-img iframe{
        height: 200px;
        width: 330px;
    }


    /* footer-section */

    .logo img{
        width: 243px;
        height: 72px; 
    }




    
}